global
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
#    tune.ssl.default-dh-param 2048

defaults
    mode http
    timeout connect 10s
    timeout client 30s
    timeout server 30s

listen stats
    bind *:8080
    stats enable
    stats uri /

#frontend web
#    bind *:80
#    bind *:443 ssl crt /run/secrets/server.pem
#    http-request redirect scheme https unless { ssl_fc }
#    use_backend web1 if { hdr(host) -i web1 }
#    use_backend web2 if { hdr(host) -i web2 }
#    default_backend catchall

#backend web1
#    balance roundrobin
#    server web1a web1a:80 check
#    server web1b web1b:80 check

#backend web2
#    balance leastconn
#    server web2a web2a:80 check
#    server web2b web2b:80 check

#backend catchall
#    balance roundrobin
#    server web3 web3:80 check
